.wrapper {
  width: 60%;
  margin: 5% 20%;
  border: 2px solid #00B8C7;
}

h2 {
  margin: 0;
}

p {
  padding: 20px;
}

.sectHeading {
  background-color: #00C6D6;
  padding: 10px;
  font-size: 20px;
  color: white;
}

.sectHeading:hover {
  background-color: #00DAEC;
}

.hiddensection {
  overflow: hidden;
  height: 43px;
  // transition: all 1s ease;
}

.displayedsection {
  height: 100%;
}
